<article class="settings-container">
  <h2 class="settings-title">{{ 'settings.title' | transloco }}</h2>

  <div class="settings-language">
    <label for="language" class="form-label">{{ 'settings.language' | transloco }}</label>

    <select
      id="language"
      class="form-select"
      [(ngModel)]="selectedLangId"
      (change)="onLanguageChange()"
    >
      @for (lang of availableLangs(); track lang.id) {
        <option [value]="lang.id">
          {{ 'settings.languages.' + lang.id | transloco }}
        </option>
      }
    </select>
  </div>

  <form class="settings-form" [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
    <div class="form-group-container">
      <div class="form-group">
        <label for="workTime" class="form-label">{{ 'common.workTime' | transloco }}</label>
        <div class="time-input-container">
          <input
            type="time"
            id="workTime"
            formControlName="workTime"
            step="1"
            class="time-input"
            [ngClass]="{
              'is-invalid':
                settingsForm.get('workTime')?.invalid && settingsForm.get('workTime')?.touched,
            }"
            pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}"
          />

          <span class="time-format">HH:MM:SS</span>
        </div>

        @if (settingsForm.get('workTime')?.invalid && settingsForm.get('workTime')?.touched) {
          <div class="error-message">{{ getTimeErrorMessage('workTime') }}</div>
        }
      </div>

      <div class="form-group">
        <label for="breakTime" class="form-label">{{ 'common.breakTime' | transloco }}</label>
        <div class="time-input-container">
          <input
            type="time"
            id="breakTime"
            formControlName="breakTime"
            step="1"
            class="time-input"
            [ngClass]="{
              'is-invalid':
                settingsForm.get('breakTime')?.invalid && settingsForm.get('breakTime')?.touched,
            }"
            pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}"
          />

          <span class="time-format">HH:MM:SS</span>
        </div>

        @if (settingsForm.get('breakTime')?.invalid && settingsForm.get('breakTime')?.touched) {
          <div class="error-message">{{ getTimeErrorMessage('breakTime') }}</div>
        }
      </div>
    </div>

    <div class="form-group-checkbox">
      <div class="form-group">
        <label class="checkbox-container">
          <input
            type="checkbox"
            id="notificationsEnabled"
            formControlName="notificationsEnabled"
            class="checkbox-input"
          />

          <span class="checkmark"></span>
          <span class="checkbox-label">{{ 'settings.notifications' | transloco }}</span>
        </label>
      </div>

      <div class="form-group">
        <label class="checkbox-container">
          <input
            type="checkbox"
            id="soundEnabled"
            formControlName="soundEnabled"
            class="checkbox-input"
          />

          <span class="checkmark"></span>
          <span class="checkbox-label">{{ 'settings.sounds' | transloco }}</span>
        </label>
      </div>
    </div>

    <div class="form-group-buttons">
      <button type="button" class="button" (click)="resetSettings()">
        <span class="button__label">{{ 'common.reset' | transloco }}</span>
      </button>

      <button
        type="submit"
        class="button"
        [class.save-button--disabled]="settingsForm.invalid"
        [disabled]="settingsForm.invalid"
      >
        <span class="button__label">{{ 'common.save' | transloco }}</span>
      </button>
    </div>
  </form>
</article>
